:root {
   --bg1: #5F30E2;
   --boxsadow: 0 5px 10px rgb(154 160 185 / 50%), 0 15px 40px rgb(166 173 201 / 70%);
   --ipt-bg: #F5F1FF;
   --ipt-br: #9475EA;
   --pop-bg: rgba(198, 253, 255, 0.452);
   --form-bg: #f2f6ea;
   /* close */

}

.peringatan-box {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-color: rgba(0, 0, 0, 0.5);
   display: flex;
   justify-content: center;
   align-items: center;
}

.text-center {
   text-align: center;
}

.kotak {
   background-color: var(--form-bg);
}

.btn-red {
   background-color: #f57878;
   border: 2px solid #ff0000;
}

.btn-red:hover {
   background-color: #ff0000;
}

.btn-blue {
   background-color: #78b2f5;
   border: 2px solid #0077ff;
}

.btn-blue:hover {
   background-color: #0077ff;
}

/*  */
#peringatan {
   border-radius: 30px;
   border: solid 2px #9c86da;
   width: 620px;
   padding: 60px 0px 30px 0px;
}

.pop-btn {
   margin-top: 30px;
}

.pop-btn button {
   width: 100px;
   height: 35px;
   margin: 0px 40px;
   border-radius: 10px;
}

.pop-icon {
   width: 120px;
}

/*  */
@media only screen and (max-width: 1100px) {}

@media only screen and (max-width: 850px) {}

@media only screen and (max-width: 650px) {
   #peringatan {
      width: max-content;
      margin: 0 10px;
      padding: 60px 20px 30px 20px;
      z-index: 999;
   }

   .pop-btn {
      margin-top: 20px;
   }

   .pop-btn button {
      margin-top: 10px;
   }
}

/*  */
@media only screen and (max-width: 1100px) {}

@media only screen and (max-width: 850px) {}

@media only screen and (max-width: 650px) {}