.sett {
   display: none;
   position: fixed;
   z-index: 1;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   overflow: auto;
   background-color: rgba(0, 0, 0, 0.4);
}

.sett-content {
   margin: 50px auto;
   width: 80%;
   max-width: 1200px;
   border-radius: 5px;
   min-width: 350px;
}

.sett-head {
   background-color: #7349e6;
   border-radius: 40px 20px 0 0;
   color: #fff;
}

.sett-header {
   display: flex;
   justify-content: end;
   align-items: center;
   margin-bottom: 5px;
   padding: 10px 20px;
   border-top-left-radius: 5px;
   border-top-right-radius: 5px;
}

.close-button {
   font-size: 40px;
   line-height: 40px;
   color: #ff0000;
   border: none;
   margin-top: -5px;
   margin-right: -15px;
   font-weight: bold;
   background-color: transparent;
   cursor: pointer;
   width: 40px;
   height: 40px;
}

.close-button:hover {
   background-color: #fefefe73;
   border: 0.5px solid #ff0000;
   border-radius: 50%;
}

.sett-menu {
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   list-style: none;
   margin: 2px 20px 1px;
   padding: 0;
}

.sett-menu li {
   margin: 5px 5px;
   background-color: #fff;
   border-radius: 5px;
   transition: box-shadow 0.3s ease;
}

.sett-menu .active {
   margin-bottom: -5px;
}

.sett-menu .active:hover {
   box-shadow: none;
}

.sett-menu li:hover {
   box-shadow: 0px 0px 20px rgba(90, 76, 76, 0.3);
}

.sett-menu li a {
   display: block;
   padding: 5px 15px;
   text-decoration: none;
   color: #333;
   font-size: 18px;
}

.sett-menu li a:hover {
   color: #2196f3;
}

.sett-body {
   background-color: #fff;
   margin-top: -2px;
   padding: 5px 20px 10px;
   border-radius: 0 0 10px 10px;
}
